.depend
config.tmp

/include/asm
/include/asm-mips/arch
/include/config.h
/include/config.mk
/include/config.name

/lib_mips/cvmx-*.c
/lib_mips/octeon-model.c
/lib_mips/octeon-pci-console.c
/System-*.map
/u-boot-*
/tools/bmp_logo
/tools/crc32.c
/tools/envcrc
/tools/environment.c
/tools/gen_eth_addr
/tools/img2srec
/tools/inca-swap-bytes
/tools/mkimage
/tools/update_octeon_header
